/*estilos propios*/





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

/*------------------------------------------*/
/*	     01 - Estilos para titulos 
/*------------------------------------------*/
/*estilo para titulo secciones*/
.tituloseccion{
	font-family: 'Sans-Serif', sans-serif;
	font-size: 24px;
	color:#00D2A8; /*verde principal*/
	padding-left: 50px;
	/*text-decoration: underline;*/
	padding-top: 30px;
	padding-bottom: 30px;
	
}
/*Estilo para titulo redes sociales*/
.tituloredes{
	
	padding-bottom: 10px;
	
	
}

/*Para subrayar los titulos cuando pasamos por encima*/
h2:hover{
	text-decoration: underline;
}



/*------------------------------------------*/
/*	 02 - Estilos para tabla listado users
/*------------------------------------------*/
/*tama単o tabla listado*/
.sizetable{

	margin-left: 100px;
	width: 90%;
	/*overflow-y: hidden;*//*en teoria es para poder verlo en vertical*/
}

/*color boton panel admin*/
.botonpaneladmin{
	
	background-color: #00D2A8;
}

/*------------------------------------------*/
/*	 03 - Estilos para galeria de imagenes
/*------------------------------------------*/


/*pading div galeria imagenes*/
.leftimage{
	padding-left: 50px;
}
/*margen y color para boton galeria imagenes */
.paddingboton{
	margin-left: 50px;
	margin-bottom: 50px;
	background-color: #00D2A8;
}


/*media querys*/
@media (min-width: 1920px){
	/*tama単o imagenes en galeria*/
	.sizeimage{
		width: 750px;
		height: 300px;
	}
	
}
	
@media (min-width: 1200px) {

	/*tama単o imagenes en galeria*/
	.sizeimage{
		width: 750px;
		height: 300px;
	}
}

@media (min-width: 991px) {
	/*tama単o imagenes en galeria*/
	.sizeimage{
		width: 750px;
		height: 300px;
	}

}


