/*estilos propios*/





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

/*------------------------------------------*/
/*	     01 - Estilos para titulos 
/*------------------------------------------*/
/*estilo para titulo secciones*/
.tituloseccion{
	font-family: 'Sans-Serif', sans-serif;
	font-size: 24px;
	color:#00D2A8; /*verde principal*/
	padding-left: 50px;
	/*text-decoration: underline;*/
	padding-top: 30px;
	padding-bottom: 30px;
	
}


/*Estilo para titulo redes sociales*/
.tituloredes{
	
	padding-bottom: 10px;
	
	
}

/*Para subrayar los titulos cuando pasamos por encima*/
h2:hover{
	text-decoration: underline;
}

.labeladmin{
  padding-left:350px;
}

/*------------------------------------------*/
/*	 02 - Estilos para tabla listado users
/*------------------------------------------*/
/*tamaño tabla listado*/
.sizetable{

	margin-left: 100px;
	width: 90%;
	/*overflow-y: hidden;*//*en teoria es para poder verlo en vertical*/
}

/*color boton panel admin*/
.botonpaneladmin{
	
	background-color: #00D2A8;
}

/*color boton panel admin*/
.botonpanel{
	
	background-color: #00D2A8;
	color:#ffffff;
	width: 25%;
}



/*------------------------------------------*/
/*	 03 - Estilos para galeria de imagenes
/*------------------------------------------*/


/*pading div galeria imagenes*/
.leftimage{
	padding-left: 50px;
}
/*margen y color para boton galeria imagenes */
.paddingboton{
	margin-left: 50px;
	margin-bottom: 50px;
	background-color: #00D2A8;
}
/*pading para category y tags*/
.rightpanel{
	padding-right: 50px;
}

/*cambiar color badge*/
.badge-error{
	background-color: #3636FF;
}

/*cambiar color panel*/
.panel-primary > .panel-heading {
  background-color: #00D2A8;
}

.leftname{
	padding-left: 5px;
}

.label-color{
	background-color: #3636FF;
}
}
/*media querys
@media (min-width: 1920px){
	/*tamaño imagenes en galeria
	.sizeimage{
		width: 750px;
		height: 300px;
	}
	
}*/

/*
@media (max-width: 1920px){
	/*tamaño imagenes en galeria
	.sizeimage{
		width: 750px;
		height: 300px;
	}
	
}
	
@media (min-width: 1200px) {

	/*tamaño imagenes en galeria
	.sizeimage{
		width: 650px;
		height: 250px;
	}
}

@media (min-width: 991px) {
	/*tamaño imagenes en galeria
	.sizeimage{
		width: 750px;
		height: 300px;
	}

}*/


